    *, *::after, *::before {
        box-sizing: border-box;
    }

    :root p {
        line-height: 1.5;   
    }

    body {
        font-family: 'Nunito', sans-serif;
    }

    /* Utilties */
    .container {
        text-align: center;
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }

    .display-inline {
        display: inline-flex;
        margin: 0;
        padding: 0;
    }

    .btn {
        border: 2px solid white;
        border-radius: 30px;
        padding: .5em 1em;
    }


    /* Header */
    header {
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 1.2;
        background: url('../Images/code-1839406_1280.jpg') rgba(0, 0, 0, 0.85);
        /* background-color: ; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        width: 100%;
        min-height: 60vh;
        padding: 30px;
    }



    .nav-bar li {
        list-style-type: none;
        padding-bottom: .3em;
        margin-right: 1.8em;
        border-bottom: 2px solid rgba(0, 255, 255, 0);
        transition: border .3s ease-in;
    }

    .nav-bar li:hover {
        border-bottom: 2px solid aqua;
    }



    .showcase {
        order: 1;
        font-size: 1.3em;
    }

    .showcase h1 {
        font-size: 2.5em;
        margin-bottom: 0;
    }

    .showcase p {
        margin-top: 10px;
    }

    .showcase a {
        margin-top: .5em;
    }

    .showcase a:hover {
        color: black;
        background-color: white;
    }

    /* Main Section */

    .main-section article {
        display: flex;
        flex-direction: column;
        font-size: .8em;
        line-height: 1;
        padding-top: 50px;
        padding-bottom: 50px;   
    }

    article.container {
        text-align: initial;
        max-width: initial;
    }


    .domain {
        color: white;
        background-image: url('../Images/domain-back.png');
        background-repeat: no-repeat;
    }

    .domain .btn-special {
        border-color: white;
    }

    .domain .btn-special:hover {
        background: white;
        color: black;
    }

    .article-content {
        font-size: 1.1em;
        text-align: left;
        max-width: 500px;
        margin: auto;
    }

    article:nth-of-type(2) .article-content {
        order: 2;
    }

    .article-content h2 {
        font-size: 2.5em;
    }

    .article-content a {
        
        border-color: rgb(32, 32, 32);
    }

    .article-content a:hover {
        color: white;
        background: rgb(32, 32, 32);
    }

    figure img {
        width: 80%;
        height: auto;
    }

    figure .hosting-img {
        width: 100%;
    }

    /* Sign in Moral */
    form {
        display: flex;
        height: 100%;
    }

    .sign {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:rgba(0, 0, 0, 0.85);
    }

    .sign .container {
        background-color: rgb(230, 230, 230);
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        padding: 1em;
        margin: auto;
        margin-top: 70px;
    }

    .sign .profile-img {
        width: 30%;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        margin: -4em auto 0;
    }

    .sign .profile-img img{
       width: 100%;
       padding: .7em;
    }

    .sign h2 {
        font-size: 2.5em;
        margin-top: 0;
    }

    .sign label {
        display: block;
        text-align: left;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: .5em;
    }

    .sign input {
        display: block;
        width: 100%;
        background-color: rgb(236, 236, 236);
        border: none;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.85);
        padding: .7em;
        margin-bottom: 1em;
    }

    .sign .checkbox-wrapper {
        text-align: left;
    }
 
    .sign .checkbox-label, input[type='checkbox'] {
        display: inline-block;
        width: fit-content;
        text-align: left;
    }

    .sign .checkbox-label {
        font-size: 1em;
        font-weight: normal;
    }

    .sign .submit button {
        color: white;
        font-size: 1.2em;
        width: 100%;
        padding: .7em;
        background-color: aqua;
        border: none;
        border-radius: 25px;
    }

    .sign .submit button:hover {
        opacity: .8;
    }
    /* Footer Section */
    .footer-section {
        color: white;
        background-color: rgb(4, 4, 8);
        padding: 1.5em;
    }

    .footer-section .footer-item {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-flexItem {
        flex-grow: 1;
    }

    .footer-item > div {
        text-align: left;
    }

    .footer-section .social-media span {
        color: aqua;
    }

    .social-media a {
        margin-left: .3em;
    }

    .footer-section ul{
        margin: 0;
        padding: 0;
    }
    
    .footer-section ul li{
        list-style: none;
    }

    .footer-section .copyright-label {
        margin-top: 1.5em;
    }

    /* header Media */
    @media (min-width: 500px) {
        header {
            padding-bottom: 250px;
        }
        
        .showcase {
            margin-top: 3em;        
        }
    }


    /* Main section media */
    @media (min-width: 800px) {
        .main-section article {
            font-size: inherit;
            line-height: inherit;
            display: flex;
            flex-direction: row;
        }
    }

    /* Footer Media */
    @media (max-width: 800px) {
        .footer-item {
            flex-direction: column;
            align-content: center;
        }
    }





